body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 40px;
}

.footerlast a {
  text-decoration: none;
  color: grey;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
}
.foot a {
  text-decoration: none;
  color: rgb(155, 155, 155);
  font-weight: 600;
  font-size: 13px;
  margin-right: 20px;
  padding: 10px 0px 30px 0px;
}
.foot {
}
